@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2d3142;
  font-family: 'MedievalSharp', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.5em;
  height: 100vh;
}

.character-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

@media (width > 550px) {
  .character-container {
    flex-direction: row;
  }
}

.character-card {
  background-color: #242423;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  min-width: 200px;
  box-shadow: inset 0px 0px 6px 2px rgba(100, 100, 100, 0.2), 0px 0px 10px 2px rgba(117, 182, 214, 0.2);
}

@media (width > 550px) {
  .character-card {
    border-radius: 12px;
    min-width: 250px;
  }
}

.name {
  margin: 0.5em 0;
  font-size: 1.2rem;
  letter-spacing: 0.07em;
}

@media (width > 550px) {
  .name {
    margin: 0.8em 0;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
  }

}

.avatar {
  width: 25vw;
  max-width: 15rem;
  opacity: 0.8;
  border: 2px solid black;
  border-radius: 14px;
  background-color: #0c1821;
  margin: 0 1em;
}


.health-container {
  margin: 0.5em 0;
  width: 90%;
}

@media (width > 550px) {
  .health-container {
    margin: 1em 0;
  }
}

.health-bar-outer {
  background-color: #171217;
  height: 0.25em;
  width: 100%;
  border-radius: 2px;
}

.health-bar-inner {
  background-color: limegreen;
  height: 100%;
  border-radius: 3px;
}

.health-label {
  font-size: 1rem;
  margin-bottom: 0.25em;
  letter-spacing: 0.07em;
}

@media (width > 550px) {
  .health-bar-outer {
    height: 0.35em;
    width: 100%;
    border-radius: 3px;
  }

  .health-bar-inner {
    border-radius: 3px;
  }

  .health-label {
    font-size: 1.4rem;
  }
}

.danger {
  background-color: rgb(179, 25, 25);
  /* width: 30%; */
}

.dice-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  height: 5vh;
  background-color: #0c1821;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (width > 550px) {
  .dice-container {
    gap: 1em;
    height: 8vh;
  }
}

.dice {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  width: 15%;
  height: 70%;
  border-radius: 5px;
}

.placeholder-text {
  background-color: #0c1821;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c1821;
  font-size: 1rem;
  width: 15%;
  height: 70%;
  border: 1px solid white;
  border-radius: 5px;
}

@media (width > 550px) {
  .dice {
    font-size: 1.5rem;
    width: 17%;
    height: 80%;
  }

  .placeholder-text {
    font-size: 1.5rem;
    width: 17%;
    height: 80%;
  }
}

button {
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: bold;
  padding: 0.3em 1em;
  margin-top: 0.5em;
  border-radius: 0.65em;
  cursor: pointer;
  border: none;
}

@media(width > 550px) {
  button {
    font-size: 1.8rem;
    padding: 0.5em 1.5em;
    margin-top: 1em;
  }
}

button:focus {
  outline: 0
}

.end-game {
  margin-top: 25%;
  text-align: center;
}

.end-emoji {
  font-size: 80px;
}